import(rjags)
importFrom("methods", show)
importFrom("graphics", plot)
importFrom("coda", gelman.diag)
importFrom("coda", gelman.plot)
importFrom("coda", densplot)
importFrom("coda", traceplot)
importFrom("coda", autocorr.plot)

export(truePrev, truePrevPools, truePrevMulti, truePrevMulti2,
       define_x, define_prior, define_prior2,
       betaPERT, betaExpert, propCI)

S3method(print, betaPERT)
S3method(plot, betaPERT)
S3method(print, betaExpert)
S3method(plot, betaExpert)
S3method(print, prevModel)

exportClasses(prev)
exportMethods(show, print, summary, plot,
              densplot, traceplot, autocorr.plot, gelman.plot)